@keyframes animacion_menu {
	0% { transform: scale(1.1,1.1);}
	25% { transform: scale(1.2,1.2);}
	50% {transform: scale(1.3,1.3);}
	75% { transform: scale(1.2,1.2);}
	100% {transform: scale(1.1,1.1);}
}




body{
	box-sizing: border-box;
	margin: auto;
	background-color: #F9E79F;
}

/*ESTILOS PARA HEADER*/

.header_background{
	background-image: url(fondobody.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 720px;
}

.header_logo{
	margin: auto;
	width: 70%;
}
.logo{
	color: rgb(255, 255, 255); 
	font-size: 48px;
	font-family: 'Notable', sans-serif;
	text-decoration: none;
}

.header_nav{
	width: 75%;
    position: relative;
    display: flex;
	justify-content: space-around;
	margin: auto;
}

.header_nav a{
    color: white; 
	font-size: 20px;
	font-family: 'Notable', sans-serif;
	text-decoration: none;
}

/*.header_nav_opcion {
	border: 2px solid yellow;
}
*/
.header_nav .header_nav_opcion:hover{
    background-color: rgb(255, 255, 255);
}

.header_nav .header_nav_opcion:hover a{
    color: black;
}

.header_nav .header_nav_submenu:hover{
	color: black;
    background-color: rgb(255, 255, 255);
}

.header_nav_submenu{
    color: white; 
	font-size: 20px;
	font-family: 'Notable', sans-serif;
	text-decoration: none;
 }

.submenu_content{
	color: white; 
	font-size: 20px;
	font-family: 'Notable', sans-serif;
    display: none;
    position: absolute;
	z-index: 1; 
}

.submenu_content a{
	padding: 5px 0px 5px 5px;
	color: black;
    display: block;
}

.header_nav_submenu a:hover{
	border-bottom: 2px solid black;
}

.header_nav_submenu:hover .submenu_content{
	background-color: rgb(255, 255, 255);
	color: black;
	display: block;
}

/*MAIN CONTENT*/
.main_content{
	background-color: black;
	margin: auto;
	padding: 5px;
	width: 80%;
}

.main_content_grid{
	display: flex;
	justify-content: center;
	width: 80%;
	margin: auto;
}

.main_content_row {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 20px;
	max-width: 80%;
 }

.main_content_row img {
	margin-top: 8px;
	border: 5px solid black;
	border-radius: 50px;
}

.main_content_icons{
	width: 50%;
	margin: auto;
	display: flex;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.main_content_icons:hover{
	animation-name: animacion_menu;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in;
	animation-duration: 1s;
	animation-delay: 0s;
}

.main_content_icons a img{
	width: 100px;
}

.main_content_info{
	width: 80%;
	margin: auto;
}
video{
	width: 60%;
	padding-top: 10px;
	float: right;
}
.main_content_description{
	color: #FEF9E7;
	font-size: 18px;
}

.main_content_form{
	width: 75%;
	margin: auto;
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}
fieldset{
	background: #FDFEFE;
	border: #f1c40f 20px solid;
	width: 400px;
}
legend{
	padding-top: 50px;
	color:  black; font-size: 35px;
	font-family: 'Notable', sans-serif; 
}

/*FOOTER*/
.footer{
	width: 100%;
	padding: 0px 0px 10px 0px;
	background-color: black;
}
#contact{
	font-size: 20px;
	color:  rgb(255, 255, 255);
	font-family: 'Notable', sans-serif;
	width: 50%;
}
.footer_endpage{
	padding-right: 20px;
	text-align: right;
	background-color: black;
}
.logo_end{
	color: white;
	font-size: 30px;
	font-family: 'Notable', sans-serif;
	text-decoration: none;
}


.precio{
	color: red; font-size: 24px;
}

.descripcion_menu{
	color:  #1c2833; font-size: 18px;
}
#filtro_tabla{
	color:  #1c2833; font-size: 28px;	
}

.titulos_productos{
	color:  #1c2833; font-size: 28px;
}
table{
	background: white;
}

dd{
	color: red;
	letter-spacing: 1px;
	line-height: 25px;
	font-size: 12px;
}

#boton_borrar:hover{
	border: 2px solid red;
}
#boton_enviar:hover{
	border: 2px solid blue;
}


@media screen and (max-width: 800px){
	.header_background{
		background-size: 800px;
	}
	.header_nav{
		display: flex;
		flex-direction: column;
	}
	.header_logo{
		text-align: center;
	}
	.main_content_row {
		display: inline;
		max-width: 40%;
		padding-top: 20px;
	}
	.main_content_icons{
		width: 50%;
		margin: auto;
		display: inline-block;
		padding-top: 20px;
		padding-bottom: 20px;
	}
}